body {
	background-color:lightgray;
	font-size:100%;
}


img {
	/*margin: 0.5px 0.5px -3.5px 0.5px;*/
	margin: 0px 0px -4px 0px;
	border: 2px solid darkgray;
}

.kepek:hover {
	opacity: 0.3;
	filter: grayscale(50);
}
#jatekTer {
	padding: 0;
	text-align:center;
	width:78%;
	position:center;
	/*border: 2px solid red;*/
	display:inline-block;	
}

#kezeloTer {
	display:inline-block;
	border-radius:10px;
	background-color:RGB(150,150,150);
	float:right;
	width:19%;
	font-size: 1.4em;
	margin-top:7%;
	margin-right:2%;
}

.kijelzo, .ertek  {
	margin: 10px auto;
	width:60%;
	display:block;
	text-align:center;
}


.kijelzo  {
	color:white;
}

.ertek  {
	color:black;
}



.gombok {	
	display:block;
	
	width:70%;
	margin:15px auto;
	height:2.2em;
	border-radius:8px;
	
	font-size:0.8em;
}

.gombok:hover {
	background-color:darkgray;
	border:5px solid RGB(70,70,70);
}